const stylesHome = StyleSheet.create({
    historyItem: {
      padding: 16,
      backgroundColor: '#fff',
      borderRadius: 8,
      marginRight: 16,
      shadowColor: '#000',
      shadowOffset: { width: 0, height: 2 },
      shadowOpacity: 0.1,
      shadowRadius: 4,
      elevation: 2,
    },
    historyDate: {
      fontSize: 16,
      fontWeight: 'bold',
      marginBottom: 8,
    },
    historyStatus: {
      fontSize: 14,
    },
  });